<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}"
      lang="vn">

<head>
    <title layout:fragment="pageTitle">Quản lý Hạng mục Mặc định</title>
    <th:block layout:fragment="pageCss">
        <link rel="stylesheet" th:href="@{/css/adminStyle/categoryManagement.css}">
    </th:block>
</head>

<body>
<section id="category-management" class="content-section active" layout:fragment="content">
    <header class="content-header">
        <h1>Quản lý Hạng mục Mặc định</h1>
        <div>
            <button class="btn btn-primary" id="add-icon-btn">Thêm icon mới</button>
            <button class="btn btn-primary" id="add-category-btn">Thêm Hạng mục mới</button>
        </div>
    </header>
    <form th:action="@{/categories}">
        <div class="form-group">
            <input type="text" class="search-box" placeholder="Tìm kiếm" name="q">
        </div>
        <div class="form-group">
            <label>Loại hạng mục</label>
            <select name="type">
                <option value="expense">Chi tiêu</option>
                <option value="income">Thu nhập</option>
                <option value="all">Tất cả</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
    <div class="categories-grid">
        <div class="category-column">
            <div class="column-header">
                <h2><i class="fa-solid fa-arrow-down expense-color"></i> Hạng mục Chi tiêu</h2>
            </div>
            <ul class="category-list" th:each="category : ${categoriesExpense}">
                <li class="category-item">
                    <div class="category-icon" th:style="'background-color:' + ${category.colorCode}">
                        <i th:class="${category.icon.iconClass}"></i>
                    </div>
                    <span class="category-name" th:text="${category.name}"></span>
                    <div class="category-actions">
                        <button class="action-btn-sm edit">
                            <a th:href="@{/categories/{id}(id=${category.id})}">Sửa</a>
                        </button>
                        <button class="action-btn-sm delete" th:data-category-id="${category.id}">Xóa</button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="category-column">
            <div class="column-header">
                <h2><i class="fa-solid fa-arrow-up income-color"></i> Hạng mục Thu nhập</h2>
            </div>
            <ul class="category-list" th:each="category : ${categoriesIncome}">
                <li class="category-item">
                    <div class="category-icon" th:style="'background-color:' + ${category.colorCode}">
                        <i th:class="${category.icon.iconClass}"></i>
                    </div>
                    <span class="category-name" th:text="${category.name}"></span>
                    <div class="category-actions">
                        <button class="action-btn-sm edit">
                            <a th:href="@{/categories/{id}(id=${category.id})}">Sửa</a>
                        </button>
                        <button class="action-btn-sm delete" th:data-category-id="${category.id}">Xóa</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<th:block layout:fragment="extraContent">
    <div id="category-modal" class="modal-overlay">
        <div class="modal-content">
            <h3 id="modal-title">Thêm Hạng mục mới</h3>
            <form id="category-form" th:method="POST" th:action="@{/categories}" th:object="${categoryCreationRequest}">
                <div class="form-group">
                    <label for="category-name-input">Tên hạng mục</label>
                    <input type="text" id="category-name-input" placeholder="Ví dụ: Du lịch" required th:field="*{name}">
                </div>

                <div class="form-group">
                    <label>Loại hạng mục</label>
                    <select id="category-type-select" th:field="*{type}">
                        <option value="EXPENSE">Chi tiêu</option>
                        <option value="INCOME">Thu nhập</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Chọn Icon</label>
                    <div class="icon-picker">
                        <div class="icon-option"
                             th:each="icon : ${icons}"
                             th:data-icon-id="${icon.id}"
                             th:title="${icon.name}">
                            <i th:class="${icon.iconClass}"></i>
                            <span th:text="${icon.name}"></span>
                            <i class="fa-solid fa-circle-xmark remove-icon"
                               th:data-icon-id="${icon.id}"></i>
                        </div>
                    </div>
                    <!-- Input ẩn để form vẫn submit iconClass -->
                    <input type="hidden" id="category-icon-input" th:field="*{icon}" required>
                </div>

                <div class="form-group">
                    <label>Mã màu nền</label>
                    <input type="color" id="category-color-input"
                           name="colorCode"
                           th:value="${categoryCreationRequest.colorCode != null ? categoryCreationRequest.colorCode : '#7950f2'}"
                    >
                </div>

                <div class="modal-actions">
                    <button type="button" class="btn btn-secondary" id="cancel-category-btn">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu Hạng mục</button>
                </div>
            </form>
            <button class="close-btn" id="close-category-modal-btn">×</button>
        </div>
    </div>

    <div id="icon-modal" class="modal-overlay">
        <div class="modal-content">
            <h3 id="icon-title">Thêm icon mới</h3>
            <form id="icon-form" th:method="POST" th:action="@{/icons}" th:object="${iconCreationRequest}">
                <div class="form-group">
                    <label for="icon-name-input">Tên icon</label>
                    <input type="text" id="icon-name-input" placeholder="Ví dụ: Du lịch" required th:field="*{name}">
                </div>

                <div class="form-group">
                    <label for="icon-class-input">Mã icon</label>
                    <input type="text" id="icon-class-input" placeholder="Ví dụ: fa-solid fa-house" required th:field="*{iconClass}" />
                </div>

                <div class="modal-actions">
                    <button type="button" class="btn btn-secondary" id="cancel-icon-btn">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu icon</button>
                </div>
            </form>
            <button class="close-btn" id="close-icon-modal-btn">×</button>
        </div>
    </div>
</th:block>


<th:block layout:fragment="pageJs">
    <script th:src="@{/js/categoryManagement.js}"></script>
</th:block>
</body>
</html>
